@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ------ Global Variables ------ */

:root {

  --primary: #FFFFFF;
  --primary-rgb: 255,255,255;
  --secondary: #2424FC;
  --secondary-rgb: 36, 36, 252;
  --tertiary: #1B1B1B;
  --tertiary-rgb: 27, 27, 27;

}

/* ------ Theme Classes ------ */

html {
  scroll-behavior: smooth;
}

body, html {
  font-family: 'Space Mono', monospace;
  color: var(--primary);
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #2424fc;
  /* background-image: linear-gradient(180deg, #2424fc 0%, #5b5bfd 50%, #2424fc 100%); */
}

* {
  box-sizing: border-box;
}

h2, h3 {
  text-align: center;
}

h1 {
  font-size: 48px;
  position: relative;
  left: -14px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 20px;
  margin: 20px auto 0 auto;
}

p {
  font-size: 14px;
}

.main-container {
  height: calc(100vh - 3px);
  width: 95%;
  margin: auto;
}

.container-spacer {
  margin: 80px 0 0 0;
}


/* ------ Sticky Contact Nav ------ */

.contact-sticky {
  position: fixed;
  right: 15px;
  top: 15px;
  padding: 11px 15px;
  border-radius: 30px;
  background-color: var(--secondary);
}

.contact-sticky > a > img {
  position: relative;
  top: 3px;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.25s;
}

.contact-sticky > a > img:hover {
  width: 1.7rem;
  height: 1.7rem;
}


/* ------ Intro Section ------ */

.intro-section {
  text-align: center;
  margin: 0 auto 120px auto;
  padding: 120px 0 0 0;
  width: 80%;
}

.smile {
  position: relative;
  top: 2px;
  left: 12px;
  width: 2.5rem;
  height: 2.5rem;
}

.small-icon {
  top: 2px;
  left: 4px;
  width: 0.9rem;
  height: 0.9rem;
}


/* ------ Bio Section ------ */

.info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px 0;
}

.bio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fun-facts-section {
  position: absolute;
  width: 100px;
}

.bio-section > p {
  width: 65%;
  margin: 0 auto 20px auto;
  line-height: 25px;
}


/* ------ Projects Section ------ */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: var(--tertiary);
  padding: 25px;
  border-radius: 30px;
  width: 380px;
  margin: 15px;
  -webkit-box-shadow: 12px 18px 30px 0px  rgba(var(--tertiary-rgb), 0.3);
  -moz-box-shadow: 12px 18px 30px 0px  rgba(var(--tertiary-rgb), 0.3);
  box-shadow: 12px 18px 30px 0px rgba(var(--tertiary-rgb), 0.3);
}

.project > img {
  border-radius: 20px;
  width: 100%;
}

.project > p {
  width: 100%;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 12px;
  border-radius: 30px;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: all 0.25s;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 30px;
}

.buttons-div > a {
  margin: 10px;
}

.primary {
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--secondary);
  margin: 10px 0 0 0;
}

.project > .secondary {
  width: 48%;
}

.project > .primary {
  width: 48%;
}

.primary:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: 3px solid var(--secondary);
}

.secondary {
  color: var(--primary);
  background-color: var(--tertiary);
  border: 3px solid var(--secondary);
  margin: 10px 0 0 0;
}

.secondary:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: 3px solid var(--secondary);
}

.tertiary {
  color: var(--primary);
  background-color: var(--tertiary);
  border: 3px solid var(--secondary);
  margin: 10px 0 0 0;
  padding: 15px 15px;
}

.tertiary:hover {
  fill: black;
  color: var(--secondary);
  background-color: var(--primary);
  border: 3px solid var(--secondary);
}

.tertiary svg {
  position: relative;
  top: 1.6px;
  fill: var(--primary);
  width: 1.2rem;
  height: 1.2rem;
}

.tertiary:hover svg {
  fill: var(--secondary);
}


/* ------ Skills Section ------ */

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-container > img {
  margin: 40px;
  width: 3rem;
  height: 3rem;
}


/* ------ Incubator Section ------- */

.incubator-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.incubator-item {
  width: 50%;
}


/* ------ Contact Section ------- */

.contact-section {
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section > p {
  padding: 0 30px;
  line-height: 25px;
}

.button > img {
  position: relative;
  top: 2px;
  width: 1.2rem;
  height: 1.2rem;
}


/* ------ Blinking Cursor ------- */

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  display: inline-block;
  position: relative;
  left: -9px;
  color: #fff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.intro-section > span, .intro-section > span:hover {
  padding-bottom: 0;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

/* ------ Random Word ------ */

#random-word {
  position: relative;
  font-size: 50px;
}


/* ------ Utility ------ */

::-webkit-scrollbar {
  width: 8px;
  cursor: grab;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(var(--primary-rgb),0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(var(--primary-rgb),1);
  border-radius: 5px;
  background-color: rgba(var(--primary-rgb),1);
}

::-moz-selection {
  fill: black;
  color: var(--secondary);
  background: rgba(var(--primary-rgb), 0.9);
}

::selection {
  color: var(--secondary);
  background: rgba(var(--primary-rgb), 0.9);
}

/* ------ Media Queries ------ */

/* Portrait and Landscape */
@media only screen
  and (max-device-width: 375px) {

    p {
      font-size: 12px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 18px;
    }

    .project > a {
      font-size: 10px;
      padding: 12px 6px;
    }

    .bio-section > p {
      width: 80%;
    }

    .logo-container > img {
      margin: 20px;
      width: 2rem;
      height: 2rem;
    }

    .project > .secondary {
      width: 47%;
    }

    .project > .primary {
      width: 47%;
    }
}
